extends template/layout

block content
  #container.container
    #app-title
      h1 Dev-Shop
      p Procure por desenvolvedores de uma organização do GitHub
        small (aperte Enter para buscar)

    #react-main-mount
      !{reactOutput}

block footer
  script(src='/js/search.js')
