//
   Created by urielbertoche on 03/07/15.

.container
  .footer
    hr(style='margin: 30px 0 10px 0;')
    p &copy;&nbsp;
      a(href='#') Uriel Bertoche
      |  2015

script(src='/js/main.js')

block footer